BOT_TOKEN=replace_me
POSTGRES_HOST=db
POSTGRES_DB=teamtimebot
POSTGRES_USER=teamtimebot
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable
TZ=UTC
WEB_ADDR=:8080
WEB_PORT=8080
WEB_STATIC_DIR=/web-static
WEB_TELEGRAM_LOGIN_BOT=
WEB_SESSION_SECRET=
